*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    min-height: 100vh;
    color: white;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    
    

}
.bigimg{
    background: linear-gradient(rgba(163, 218, 148, 0.3),rgba(34, 33, 36, 0.7)),url(../!_images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.smallimg{
    background: url(../!_images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.folderimg{
    background: url(../!_images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}