
        h1 {
            color: rgb(230, 209, 25);
            font-size: 30px;
        }

        h2 {
            color: chartreuse;
            font-size: 10px;
        }

        /* css rule */
        /* selector */
        /* declaration
        
        
        /* h1,h2{
            color:brown;
            font-size:25px;
        } */
        
    