div{
    width: 200px;
    height: 100px;
    color:white;
    margin: 10px;

}
.transition{
    background: red;
    transition: all 2s ease;
}
.transition:hover{
    background: yellow;
    transform: translate(100px);
}