h1{
    line-height: 60px;
    letter-spacing: 5px;
text-decoration: solid;
}

p{
    line-height: 30px;
    letter-spacing: 1.5px;
}

a{
    font-size: 40px;
    letter-spacing: 10px;
    text-decoration: none;
}